**/node_modules
**/dist
**/build
**/.svelte-kit
**/.env
**/.env.*
!**/.env.example
*.log
npm-debug.log*

.vscode
*.swp
*.swo

.git
.gitignore

**/Dockerfile*
docker-compose*.yml

*.md
!README.md
LICENSE*
.DS_Store
*.tsbuildinfo

**/coverage
**/test-results
**/playwright-report
